/*
Colors:
Black: #262422
gold: #EA6300
green: #00E800
White: #FFFFFF
*/

#header{
    background-color:#262422;
    text-align: right;
    font-family: 'lato';
    position: relative
    transform: translateY(50%);
     background-image: url(img/sniper2.jpg);
        padding: 100px 10px;
color:#454e57
} 

#header > h1 {
    
    margin: 0;
    text-align: right;
    font-family: 'Lato', sans-serif;
    position: relative
    transform: translateY(50%);
    color: 
}
#header > h2 {
    color:#454e57
}
body {
    background-color: #262422;
    color:#787474;
}
#nav {
    background-color:#262422;
    min-height: 80px;
    font-family: 'Lato', sans-serif;
    height: auto;
 }
#nav > ul {
    text-align: center;
    margin: 0;
    padding: 15px 0 15px 0;
}
#nav > ul >button {
    min-width: 178px;
    color: #ffffff;
    background-color: #191970;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s;
    border: 2px solid #787474;
}
#nav > ul >button:hover {
    background-color: #787474;
    
}
/*
.menu {
    display:flex;
    background:#d7e6f;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
*/
/*
}
#middle-wraper-width {
    display:flex;
    font-family: 'lato', sans-serif;
    max-width: 960px;
    margin: 0 auto;
    
}
#middle-wrapper {
    
}
*/
.side-by-side {
    background-image: url(img/We_Are_ODST.jpg);
    border-left:4px #787474 solid;
    border-right:4px #787474 solid; 
}
#main-content-wrapper .image-content {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.image-content > img {
    max-width: 200px;
    border-radius: 50%;
    border: 4px #191970 solid;
}

.image-content > h4 {
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #787474;
    
}

.image-content > h4 > a {
       color: #787474;
}

.image-content > h4 > a:hover {
    color: #787474;
}
#main-content-wrapper article {
   
}
#main-content-wrapper article h2 {
 text-align: center;
}
#main-content-wrapper article p {
    max-width: 700px;
    margin:0 auto;
}
#main-content-wrapper #skills {
    text-align: center;
    font-weight: 300px;
    letter-spacing: 2px;
    
}
#main-content-wrapper #skills span {
    font-weight: 400px;
}
#aside-content-wrapper {
    background-color:#262422;
    font-family: 'lato',sans-serif;
    margin-top: 50px;
}
#aisde-right {
    margin: 0 50px, 0 8px;
}
#aisde-right h3 {
    text-align: center;
}
footer {
    background-color: #262422;
    text-align: center;
    font-family: 'lato',sans-serif;
    min-height: 100px;
    
}
#latest-work {
    list-style-type: none;
    background-color: #262422;
    
}
#latest-work > li {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px #EDBA18 solid;
    
}
#latest-work >li:before {
    content:'';
    border-color: transparent #EDBA18;
    border-style: solid;
    border-width: .35em 0 .35em .45em;
    display: block;
    height:0;
    width:0;
    left:-1em;
    top:.9em;
    position: relative;
}
#favorit-sites {
    background-image: url(img/theline2.jpg);
    border-top:5px #787474 solid;
    border-bottom:5px #787474 solid;
    text-align: center;
    
}
#favorit-sites ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 40px;
}
footer >h1 {
    margin: 0;
    transform: translateY(50%)
}
.max-width {
    margin:0 auto;
    max-width: 960px;
}
.button-wrap {
    background-image: url(img/theline2.jpg);
     border-top:5px #787474 solid;
    border-bottom:5px #787474 solid;
}

/*bootstrap related*/
.container-fluid {
    padding:0;
}
#favorit-sites > .row > .col-md-4 > img {
    margin: 0 auto;
}